@import "styles/variables";
.container {
    width:100%;
    input {
        padding-right: 3.5rem;
    }h1 {
        margin-bottom: $sp-lg;
    }
}

.form-right-element {
    color:#a7a7a7;
    display: flex;
    align-items: center;
    column-gap: $sp-sm;
    font-size: 12px;
}
.form-right-element-icon {
    font-size: $sp-lg;
}