@import "styles/variables";
.container {
  border-bottom: 1px solid rgba(100, 97, 97, 0.5);
  padding: $sp-lg 0;
}

.task-name {
  font-size: 18px;
}
.subtask-name {
    font-size: 16px;
}

.main-task-container {
  display: flex;
  justify-content: space-between;
}

.task-form-container {
    width:70%;
    margin:$sp-md $sp-xl;
}

.subtask-container {
    margin-left: $sp-xxl;
    display: flex;
    flex-direction: row;
    row-gap: $sp-lg;
}

@media (max-width: 480px) {
    .task-name {
        font-size: 16px;
    }
    .subtask-name {
        font-size: 14px;
    }
}