@import "styles/variables";
.container {
  width: 400px;
  margin: 10% auto;
}

.form-items {
  display: flex;
  flex-direction: column;
  row-gap: $sp-xl;
}

.password-input {
  padding-right: $sp-xxxl;
}

@media (max-width: 560px) {
  .container {
    width: 85%;
    margin: 20% auto;
  }
}
